@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    height: 100vh; /* Make body take full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #fff;
    padding: 20px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Set width to 90% to fit within iframe */
    max-width: 500px; /* Ensure it doesn't stretch too wide */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.form-container h2 {
    color: #800080;
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Reduced margin */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container textarea {
    resize: none;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #660066;
}
